<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dummy-ros2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dummy-ros2 urdf file -->
    <xacro:include filename="$(find dummy-ros2_description)/urdf/dummy-ros2.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="dummy-ros2.ros2_control.xacro" />


    <xacro:dummy-ros2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
